@import 'template';

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  @extend %container;

  display: block;
  width: 100%;
}

/* -----------------------------------
 *
 * Inner
 *
 * -------------------------------- */

.inner {
  max-width: rem(480);
  margin: 0 auto;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  font-family: $font-accent;
  font-weight: 200;
  font-size: rem(52);
  margin: 0 0 0.4em;

  span {
    @extend %underline;

    position: relative;

    &:before {
      animation-name: scaleX;
      animation-delay: 0.3s;
    }
  }
}

/* -----------------------------------
 *
 * List
 *
 * -------------------------------- */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* -----------------------------------
 *
 * Item
 *
 * -------------------------------- */

.item {
  display: block;

  a {
    color: white;
  }
}
