@import 'template';

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  @extend %container;

  display: block;
  width: 100%;
}

/* -----------------------------------
 *
 * Inner
 *
 * -------------------------------- */

.inner {
  max-width: rem(480);
  margin: 0 auto;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  font-family: $font-accent;
  font-weight: 200;
  font-size: rem(52);
  margin: 0 0 0.6em;

  span {
    @extend %underline;

    position: relative;

    &:before {
      animation-name: scaleX;
      animation-delay: 0.3s;
    }
  }
}

/* -----------------------------------
 *
 * List
 *
 * -------------------------------- */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* -----------------------------------
 *
 * Item
 *
 * -------------------------------- */

.item {
  display: block;
  font-size: rem(24);
  font-weight: 300;
  margin: 0 0 0.75em;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    animation-name: marginLeft;
    animation-duration: 0.6s;
    animation-delay: calc(0.2s + var(--index) * 0.2s);

    &:hover {
      color: $colour-accent;
    }
  }

  a > i {
    display: inline-block;
    margin: 0 rem(8) 0 0;
    width: rem(18);
    height: rem(18);
  }

  i:global(.github) {
    background: url('@/styles/images/github-icon.svg') center no-repeat;
  }
}
