@import 'template';

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
  @extend %container;

  display: block;
  width: 100%;
}

/* -----------------------------------
 *
 * Inner
 *
 * -------------------------------- */

.inner {
  max-width: rem(480);
  margin: 0 auto;
}

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  font-family: $font-accent;
  font-weight: 200;
  font-size: rem(52);
  margin: 0 0 0.4em;
}

/* -----------------------------------
 *
 * Link
 *
 * -------------------------------- */

.link {
  color: white;
}
