/* -----------------------------------
 *
 * Left
 *
 * -------------------------------- */

@keyframes marginLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2%;
  }
  100% {
    margin-left: 0;
  }
}
