@import 'template';

/* -----------------------------------
 *
 * Pagination
 *
 * -------------------------------- */

.pagination {
  display: block;
}

/* -----------------------------------
 *
 * Link
 *
 * -------------------------------- */

.link {
  display: inline-block;

  &.active {
    pointer-events: none;
  }
}