---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metaData": {
    "title": "James Hill - Performance & Technology advocate",
    "subTitle": "The House of James. Sporadic articles on tech & performance",
    "xmlFile": "feed.xml",
    "imagePath": "articles/_images",
    "author": {
      "name": "James Hill"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metaData.title }}</title>
  <subtitle>{{ metaData.subTitle }}</subtitle>
  <link href="{{siteMeta.siteDomain}}/{{ metaData.xmlFile }}" rel="self" />
  <link href="{{ siteMeta.siteDomain }}?utm_source=Feed&amp;utm_medium=RSS" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ siteMeta.siteDomain }}</id>
  <author>
    <name>{{ metaData.author.name }}</name>
    <email>{{ metaData.author.email }}</email>
  </author>
  {%- for article in collections.articles %} 
    {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(siteMeta.siteDomain)
  }}{% endset %}
  <entry>
    <title>{{ article.data.title }}</title>
    <link href="{{ absolutePostUrl }}?utm_source=Feed&amp;utm_medium=RSS" />
    <updated>{{ article.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content>{{ article.data.excerpt | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    <image>
      <url>{{ siteMeta.siteDomain }}/{{ metaData.imagePath }}/{{ article.data.thumbImage }}</url>
      <title>{{ article.data.tagLine }}</title>
      <link>{{ absolutePostUrl }}</link>
    </image>
  </entry>
  {%- endfor %}
</feed>
