---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metaData": {
    "xmlFile": "feed.xml",
    "imagePath": "articles/_images"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ siteMeta.pageTitle }}</title>
  <subtitle>{{ siteMeta.metaDescription }}</subtitle>
  <link href="{{siteMeta.siteDomain}}/{{ metaData.xmlFile }}" rel="self" />
  <link href="{{ siteMeta.siteDomain }}/?utm_source=feed.xml&amp;utm_medium=referral&amp;utm_campaign=rss" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ siteMeta.siteDomain }}</id>
  <author>
    <name>{{ siteMeta.authorName }}</name>
    <github>{{ socialDetails.githubUrl }}</github>
  </author>
  {%- for article in collections.articles %} 
    {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(siteMeta.siteDomain)
  }}{% endset %}
  <entry>
    <title>{{ article.data.title }}</title>
    <link href="{{ absolutePostUrl }}?utm_source=feed.xml&amp;utm_medium=referral&amp;utm_campaign=rss" />
    <updated>{{ article.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content>{{ article.data.excerpt | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    <image>
      <url>{{ siteMeta.siteDomain }}/{{ metaData.imagePath }}/{{ article.data.thumbImage }}</url>
      <title>{{ article.data.tagline }}</title>
      <link>{{ absolutePostUrl }}?utm_source=feed.xml&amp;utm_medium=referral&amp;utm_campaign=rss</link>
    </image>
  </entry>
  {%- endfor %}
</feed>
